.login__form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #0be881;
    padding: 16px 32px;
}

.login__form>form {
    width: 100%;
    height: auto;
}